ASPNETCORE_ENVIRONMENT=Production
WEATHERAPI__BASEURL=https://api.openweathermap.org/data/2.5
WEATHERAPI__APIKEY=your_api_key_here
WEATHERAPI__CACHEDURATIONMINUTES=5
FRONTEND__BASEURL=https://seusistema.com